.poste {
    transform: translateX(800%) translateY(100%);
    background-color: black;
    border-radius: 11px;
    width: 80px; 
    height: 200px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.luz {
    width: 60px; 
    height: 60px; 
    margin: 1px 0;
    border-radius: 50%;
    background-color: gray; 
    cursor: pointer; 
}

.rojo {
    background-color: red;
}

.naranjo {
    background-color: orangered;
}

.verde {
    background-color: green;
}

.brillo {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
    animation: brillar 1s infinite alternate;
}

@keyframes brillar {
    from {
        box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
    }
    to {
        box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.7);
    }
}

